<html>
<head>
    <title>Cute Form</title>

    <link rel="stylesheet"
    href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h2>Demo Text</h2>
        <form action="/" method="post">
            <input type="text"
            name="namaDepan"
            placeholder="Nama Depan" />

            <input type="text"
            name="namaBelakang"
            placeholder="Nama Belakang" />

            <p>
                <input type="submit" value="Kirim" />
            </p>
        </form>
    </div>
</body>
</html>